html, body {
	height: 100%;
	margin: 50px 0 0 0;
}

body {
	text-align: center;
/* 	background: url(../img/background-images/1.jpg) no-repeat center top fixed;
	-webkit-background-size: cover;
	background-size: cover; */
}



